* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.664)), url(../images/formbackground.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.registration_form{
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.329);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
}
.registration_form input, .registration_form_btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    outline: none;
    border: 2px solid transparent;
    border-radius:5px;
}
.registration_form_btn {
    cursor: pointer;
}
input:focus, .registration_form_btn:focus { 
    border: 2px solid rgb(49, 160, 180);
    border-radius:5px;
}
i {
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 50%;
    padding: 20px 25px;
    margin-bottom: 25px;
    transition: 0.4s;
}
.registration_form:hover i {
    background-color: rgba(41, 41, 41, 0.329);
}
.registration_form:hover {
    border: 10px solid rgb(41, 41, 41, 0.329);
}
.registration_form_steep2 {
    display: none;
}
div.registration_form_steep2_active {
    display: block;
}
div.registration_form_steep1_hide{
    display:none;
}
